{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": true,
    "window": true,
    "process": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "spread": true,
      "es6": true
    }
  },
  "rules": {
    "no-console": "off",
    "react/react-in-jsx-scope":"off",
    "prettier/prettier": "error",
    "semi": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": [1, { "allow": ["_id","__REDUX_DEVTOOLS_EXTENSION__","__NEXT_REDUX_STORE__"] }],
    "jsx-a11y/anchor-is-valid":"off",
    "dot-notation": "off"
  }
}